body {
    background-color: blue;

}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    background-color: black;
    color: white;
}

p,
ul {
    color: black;
}

div {
    background-color: white;
}